<div class th:fragment="html">
    <div id="footer" class="footer" style="display: block">
        <div class="footer_ensure" id="footer_ensure">
            <a href="#nowhere">
                <img src="/img/site/ensure.png"/>
            </a>
        </div>
        <div class="horizontal_lines"></div>

        <div id="footer_desc" class="footer_desc">
            <div class="descColumn">
                <span class="descColumnTitle"></span>
                <a href="#nowhere"></a>
                <a href="#nowhere"></a>
                <a href="#nowhere"></a>
            </div>
            <div class="descColumn">
                <span class="descColumnTitle"></span>
                <a href="#nowhere"></a>
                <a href="#nowhere"></a>
                <a href="#nowhere"></a>
            </div>
            <div class="descColumn">
                <span class="descColumnTitle"></span>
                <a href="#nowhere"></a>
                <a href="#nowhere"></a>
                <a href="#nowhere"></a>
            </div>
            <div class="descColumn">
                <span class="descColumnTitle"></span>
                <a href="#nowhere"></a>
                <a href="#nowhere"></a>
                <a href="#nowhere"></a>
            </div>
            <div class="descColumn">
                <span class="descColumnTitle"></span>
                <a href="#nowhere">
                    <img src="/img/site/ma.png"/>
                </a>
            </div>
        </div>
        <div style="clear:both"></div>

        <div id="copyright" class="copyright">
            <div class="copyrightMiddle">
                <img id="cateye" class="cateye" src="/img/site/cateye.png">
                <div class="white_link">
                    <a href="#nowhere"></a>
                    <a href="#nowhere"></a>
                    <a href="#nowhere"></a>
                    <a href="#nowhere"></a>
                    <a href="#nowhere"></a>
                    <a href="#nowhere"></a>
                    <a href="#nowhere"></a>
                    <a href="#nowhere"></a>
                    <a href="#nowhere"></a>
                    <a href="#nowhere"></a>
                    <a href="#nowhere"></a>
                </div>
                <div class="white_link">
                    <a href="#nowhere"><span class="slash">|</span></a>
                    <a href="#nowhere"><span class="slash">|</span></a>
                    <a href="#nowhere"><span class="slash">|</span></a>
                    <a href="#nowhere"><span class="slash">|</span></a>
                    <a href="#nowhere"><span class="slash">|</span></a>
                    <a href="#nowhere"><span class="slash">|</span></a>
                    <a href="#nowhere"><span class="slash">|</span></a>
                    <a href="#nowhere"><span class="slash">|</span></a>
                    <a href="#nowhere"><span class="slash">|</span></a>
                    <a href="#nowhere"><span class="slash">|</span></a>
                    <a href="#nowhere"><span class="slash">|</span></a>
                    <a href="#nowhere"><span class="slash">|</span></a>
                    <a href="#nowhere"><span class="slash">|</span></a>
                    <a href="#nowhere"><span class="slash">|</span></a>
                </div>
                <div class="license">
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="copyrightYear"> </div>
                    <div>
                        <img src="/img/site/copyRight1.jpg">
                        <img src="/img/site/copyRight2.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div >