<nav class="top" th:fragment="html">
    <a th:href="">
        <span class="glyphicon glyphicon-home redColor" style="color:#C40000;margin: 0px;"></span>
        天猫首页
    </a>

    <span>喵，欢迎来到天猫</span>

    <span th:if="${null!=session.user}">
        <a th:href="login" th:text="${session.user.name}"></a>
        <a th:href="forelogout">退出</a>
    </span>
    <span></span>

    <span th:if="${null==session.user}">
        <a th:href="login">登录</a>
        <a th:href="register">免费注册</a>
    </span>

    <span class="pull-right">
        <a th:href="bought">我的订单</a>
        <a th:href="cart">
            <span class="glyphicon glyphicon-shopping-cart redColor" style="color:#C40000;margin: 0px;"></span>
            购物车<strong th:text="${session.cartTotalItemNumber}"></strong>件
        </a>
    </span>
</nav>