<div th:fragment="html">
    <script>
        function imgAndInfoPageRegisterListeners(vue) {
            //获取购物数量

            //绑定增加、减少按钮事件

            //去除添加购物车按钮的不可用属性

            //增加添加购物车链接事件，判断是否登录

            //立即购买链接的事件，判断是否登录

            //登录按钮事件


        }
    </script>
    <div class="imgAndInfo">
        <!--产品图片-->
        <div class="imgInimgAndInfo">
            <img v-if="firstProductImage！=null" :src="'img/productSingle/'+firstProductImage.id+'.jpg'" class="bigImg"/>
            <div class="smallImageDiv">
                <img v-for="pi in product.productSingleImage" :src="'img/productSingle_small'+pi.id+'.jpg'"
                     :bigImageURL="'img/productSingle/'+pi.id+'.jpg'" class="smallImage"/>
            </div>
            <div class="img4load hidden"></div>
        </div>
        <!--产品信息-->
        <div class="infoInimgAndInfo">
            <!--标题、小标题、价格、销量和评价、库存、服务承诺和两个按钮-->
            <div class="productTitle">
                {{p.name}}
            </div>
            <div class="productSubTitle">
                {{p.subTitle}}
            </div>
            <div class="productPriceDiv">
                <div class="juhuasuan">
                    <span class="juhuasuanBig">聚划算</span>
                    <span>此商品即将参加聚划算，在<span class="juhuasuanTime">1天19小时</span>后开始</span>
                </div>
                <div class="productPriceDiv">
                    <div class="gouwujuanDiv">
                        <img height="160px" src="img/site/gouwujuan"/>
                        <span>全天猫实物店通用</span>
                    </div>
                    <div class="originalDiv">
                        <span class="originalPriceDesc">价格</span>
                        <span class="originalPriceYuan">￥</span>
                        <span class="originalPrice">
                            {{p.originalPrice|formatMoneyFilter}}
                        </span>
                    </div>
                    <div class="promotionDiv">
                        <span class="promotionPriceDesc">价格</span>
                        <span class="promotionPriceYuan">￥</span>
                        <span class="promotionPrice">
                            {{p.promotionPrice|formatMoneyFilter}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="productSaleAndReviewNumber">
                <div>销量<span class="redColor boldWord">{{p.saleCount}}</span></div>
                <div>累计评价<span class="redColor boldWord">{{p.reviewCount}}</span></div>
            </div>
            <div class="productNumber">
                <span>数量</span>
                <span class="productNumberSettingSpan">
                    <input class="productNumberSetting" type="text" value="1">
                </span>
                <span class="arrow">
                    <a href="#nowhere" class="increaseNumber">
                        <span class="updown">
                            <img src="img/site/increase.png">
                        </span>
                    </a>
                </span>
                <span class="updownMiddle">
                    <a href="#nowhere" class="decreaseNumber">
                        <span class="updownMiddle">
                            <img src="img/site/decrease.png">
                        </span>
                    </a>
                件</span>
                <span>库存{{p.stock}}件</span>
            </div>
            <div class="serviceCommitment">
                <span class="serviceCommitmentDesc">服务承诺</span>
                <span class="serviceCommitmentLink">
                    <a href="#nowhere">正品保证</a>
                    <a href="#nowhere">极速退款</a>
                    <a href="#nowhere">赠运费险</a>
                    <a href="#nowhere">七天无理由退换</a>
                </span>
            </div>
            <div class="buyDiv">
                <a class="buyLink"><button class="buyButton">立即购买</button></a>
                <a href="#nowhere" class="addCartLink">
                    <button class="addCartButton"><span class="glyphicon glyphicon-shopping-cart"></span>加入购物车</button></a>
            </div>
            <!--清除浮动-->
            <div style="clear:both"></div>
        </div>
    </div>
</div>